@model PMS.Entity.Role

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link href="~/Conetnt/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    @using (Ajax.BeginForm("AddRole", "Role", new AjaxOptions()
    {

        OnComplete= "addrole"

    }))
    {
        <div class="layui-form layui-form-pane" style="padding:20px 15px;">
            <div class="layui-form-item">
                <label class="layui-form-label">角色名称<span style="color:red">*</span></label>
                <div class="layui-input-block">
                    <input type="text" name="RoleName" placeholder="输入角色名称" class="layui-input" style="width:380px" required lay-verify="required" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排序编码</label>
                <div class="layui-input-block">
                    <input type="text" name="RoleOrderCode" placeholder="输入排序编码" class="layui-input" style="width:380px" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">角色描述<span style="color:red">*</span></label>
                <div class="layui-input-block">
                    <input type="text" name="RoleDes" placeholder="输入角色描述" class="layui-input" style="width:380px" required lay-verify="required" />
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="float:right">
                    <button type="button" id="btnclose" class="layui-btn layui-btn-sm layui-btn-primary" onclick="Closlayers()">
                        <i class="layui-icon layui-icon-return"></i>
                        返回
                    </button>
                    <button type="submit" id="btnadd" class="layui-btn layui-btn-sm">
                        <i class="layui-icon layui-icon-ok"></i>
                        保存
                    </button>
                </div>
            </div>
            <input type="hidden" name="ParentGuid" value="@ViewBag.roleguid" />
        </div>
    }
  
    <script src="~/Conetnt/layui/layui.js"></script>
    <script>
        layui.config({
            base: "/Conetnt/extend/"
        }).extend(
      {
          unobtrusive: 'unobtrusive/unobtrusive'
      });


        layui.use(['element','unobtrusive'], function ()
        {
            var element = layui.element,
            layer = top.layer,
                unobtrusive = layui.unobtrusive;
            //添加角色

            window.addrole = function (result) {

                if(result.responseJSON.Code==0)
                {
                    layer.msg(result.responseJSON.Msg, { icon: 5, time: 2000 });
                }
                else if(result.responseJSON.Code==1)
                {
                    layer.alert(result.responseJSON.Data, function (index)
                    {
                        top["main_Content"].refreshList();
                        CloseLayer();
                        layer.close(index);
                    });
                }
                else
                {
                    layer.alert(result.responseJSON.Data);
                }

            };
            //关闭
            window.CloseLayer = function () {
                var index = layer.getFrameIndex(window.name);
                layer.close(index);
            }
            


        });
    </script>
</body>
</html>
