@model IEnumerable<PMS.UIModel.MenUIModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Conetnt/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div>
            <button class="layui-btn layui-layout-right" id="btnadd" style="margin-right:15px;margin-top:20px;">
                <i class="layui-icon layui-icon-add-1"></i>
                添加
            </button>
        </div>
        <div style="margin-top:70px;margin-left:15px;margin-right:15px;">
            <table id="data_role" class="layui-table" lay-filter="table1"></table>
        </div>
    </div>
    <script src="~/Conetnt/layui/layui.js"></script>
    <!-- 操作列 -->
    <script type="text/html" id="oper-col">
        {{# if(d.IsParent){ }}
        <a class="layui-btn  layui-btn-xs" lay-event="add">
            <i class="layui-icon layui-icon-add-1"></i>
            添加子菜单
        </a>
        {{# } }}
        <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit">
            <i class="layui-icon layui-icon-edit"></i>

            编辑
        </a>
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="choseauthor">
            <i class="layui-icon layui-icon-util"></i>
            选择权限
        </a>
        {{# if(!d.IsHavChild){ }}
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
            <i class="layui-icon layui-icon-delete"></i>
            删除
        </a>
        {{# } }}
    </script>

    <script type="text/javascript">
        layui.config({
            base: '/Conetnt/extend/'
        }).extend({
            treeGrid: 'treegrid/treeGrid',
            unobtrusive: 'unobtrusive/unobtrusive'
        });

        layui.use(['treeGrid', 'jquery'], function () {
            var treeGrid = layui.treeGrid,
             layer = top.layer,
                $ = layui.$;

            //初始化树形列表数据
            treeGrid.render({
                id: 'data_role',
                height: 'full',
                elem: '#data_role',
                idField: 'RoleIdUIModel',
                url: '/Role/GetRoleExpand',
                treeId: 'RoleGuidUIModel',
                treeUpId: 'ParentGuidUIModel',
                treeShowName: 'RoleNameUIModel',
                page: false,
                cols: [
                    [
                        { field: 'RoleNameUIModel', title: '菜单名称', width: '40%', fixed: 'left' },
                        { field: 'RolePathUIModel', title: '全路径', width: '20%' },
                        { field: 'operate', title: '操作', toolbar: '#oper-col', width: '40%', fixed: 'right' }
                    ]
                ]
            });

            //添加一级菜单

            $("#btnadd").click(function () {

                $.post("/Role/IsHaveAuthor", { actionid: 0 }, function (data) {
                    if (data.Code == 0) {
                        layer.alert(data.Data);
                    }
                    else {
                        layer.open({
                            type: 2,
                            title: '添加角色',
                            content: ['/Role/Create', 'no'],
                            area: ['530px', '300px'],
                            resize: false,
                        });
                    }
                });
            });


            //监听工具条
            treeGrid.on('tool(table1)', function (obj) {
                var data = obj.data;

                var layevent = obj.event;

                if (layevent == "add") {
                    $.post("/Role/IsHaveAuthor", { actionid: 0 }, function (res) {

                        if (res.Code == 0) {
                            layer.alert(res.Data);
                        }
                        else {
                            layer.open({
                                type: 2,
                                title: '添加角色',
                                content: ['/Role/Create?roleguid=' + data.RoleGuidUIModel, 'no'],
                                area: ['530px', '300px'],
                                resize: false,
                            });
                        }
                    });
                }
                else if (layevent == "edit") {
                    $.post("/Role/IsHaveAuthor", { actionid: 2 }, function (res) {

                        if (res.Code == 0) {
                            layer.alert(res.Data);
                        }
                        else {
                            layer.open({
                                type: 2,
                                title: '修改角色',
                                content: ['/Role/Update?roleid=' + data.RoleIdUIModel, 'no'],
                                area: ['530px', '300px'],
                                resize: false,
                            });
                        }
                    });
                }
                else if (layevent == "del") {

                    $.post("/Role/IsHaveAuthor", { actionid: 4 }, function (res) {

                        if (res.Code == 0) {
                            layer.alert(res.Data);
                        }
                        else {
                            layer.confirm("确认删除吗？", { icon: 3, title: '信息提示' }, function (index) {

                                $.post("/Role/Delete", { roleid: data.RoleIdUIModel }, function (resdata) {
                                    layer.close(index);
                                    if (resdata.Code == 0) {
                                        layer.msg(resdata.Msg, { icon: 5, time: 2000 });
                                    }
                                    else {
                                        refreshList();
                                    }
                                });

                            });
                        }
                    });

                   
                }
                else if(layevent =="choseauthor")
                {
                    $.post("/Role/IsHaveAuthor", { actionid: 5 }, function (res) {

                        if (res.Code == 0) {
                            layer.alert(res.Data);
                        }
                        else {
                            //选择权限
                            layer.open({
                                type: 2,
                                title: '选择权限',
                                content: ['/Role/ChoseAuthor?roleid=' + data.RoleIdUIModel],
                                area: ['950px', '700px'],
                                resize: false,
                            });
                        }
                    });
                   
                }
            });

            //表格数据刷新
            window.refreshList = function () {
                treeGrid.reload('data_role');
            };
        });
    </script>



</body>
</html>
